html,
body {
    font-family: 'Arial';
}

.top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.item {
    margin-right: 10px;
}

#google-logo {
    width: 120px;
}

#menu-button {
    width: 18px;
    margin-right: 20px;
}

#sign-in-button {
    border: 0;
    border-radius: 3px;
    padding: 6px 12px 6px 12px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(57, 149, 235, 0.952);
}

.search-box {
    height: 40px;
    width: 500px;
    padding-left: 10px;
}

.mv-right {
    margin-left: auto;
}
