html,
body {
    font-family: 'Arial';
}

h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #DDDDDD;
    background-color: rgb(251, 251, 249);
}

.top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.item {
    margin-right: 10px;
}

#google-logo {
    width: 120px;
}

#menu-button {
    width: 18px;
    margin-right: 20px;
}

#sign-in-button {
    border: 0;
    border-radius: 3px;
    padding: 6px 12px 6px 12px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    background-color: rgba(57, 149, 235, 0.952);
}

.search-box {
    height: 35px;
    width: 580px;
    padding-left: 10px;
}

.mv-right {
    margin-left: auto;
}

.active {
    color: blue !important;
    border-bottom: solid 3px blue;
    font-weight: 600;
}

.link-text {
    color: green;
}

.link-headline {
    font-weight: normal;  
}

.link-bar {
    margin-left: 140px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 600px;
}

.link-bar a {
    padding: 15px;
    font-size: 14px;
    color: #797979;
}

.link-bar a:hover {
    color: black;
}

.content {
    margin-left: 140px;
    margin-top: 15px;
}

#result-count {
    margin-left: 15px;
    font-size: 13px;
    color: gray;
}

.snippet-box {
    margin-top: 20px;
    padding: 0px 10px 10px 10px;
    width: 600px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.13);
}

.snippet-box ol {
    padding-left: 18px;
}

.snippet-box li {
    padding-top: 5px;
}

.snippet-box h4 {
    margin-top: 15px;
}

#list-extra {
    margin-left: 20px;
    color: gray;
    font-size: 14px
}
